Trust.Cgc.Computer/Service References/CncServiceReference/cnc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FetchJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchJobResult" type="tns:JobViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JobViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Script" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchJobSoapIn">
    <wsdl:part name="parameters" element="tns:FetchJob" />
  </wsdl:message>
  <wsdl:message name="FetchJobSoapOut">
    <wsdl:part name="parameters" element="tns:FetchJobResponse" />
  </wsdl:message>
  <wsdl:portType name="CncSoap">
    <wsdl:operation name="FetchJob">
      <wsdl:input message="tns:FetchJobSoapIn" />
      <wsdl:output message="tns:FetchJobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CncSoap" type="tns:CncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchJob">
      <soap:operation soapAction="http://tempuri.org/FetchJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CncSoap12" type="tns:CncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchJob">
      <soap12:operation soapAction="http://tempuri.org/FetchJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cnc">
    <wsdl:port name="CncSoap" binding="tns:CncSoap">
      <soap:address location="http://localhost:56001/cnc.asmx" />
    </wsdl:port>
    <wsdl:port name="CncSoap12" binding="tns:CncSoap12">
      <soap12:address location="http://localhost:56001/cnc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>